<servers>

<server>
   <username>jenkins</username>
   <password>Admin@123</password>
   <id>central</id>
</server>

<server>
<id>snapshots</id>
<username>jenkins</username>
<password>Admin@123</password>
</server>
 
</servers>

<profiles>

<profile>

<repositories>

<repository>

<id>central</id>
<snapshots>
<enabled>false</enabled>
</snapshots>
<name>libs-release</name>
<url>http://34.93.102.37:8082//artifactory/libs-release</url>

</repository>
<repository>

<id>snapshots</id>
<snapshots />
<name>libs-snapshot</name>
<url>http://34.93.102.37:8082//artifactory/libs-snapshot</url>

</repository>

</repositories>

</profile>

</profiles>

